name: github pages

on:
  push:
    branches:
      - main  # Set a branch name to trigger deployment

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache opam
        id: cache-opam
        uses: actions/cache@v3
        with:
          path: ~/.opam
          key: opam-ubuntu-latest-5.0.0

      - uses: avsm/setup-ocaml@v2
        with:
          ocaml-compiler: 'ocaml-base-compiler.5.0.0'
          default: https://github.com/ocaml/opam-repository.git

      - name: Pin packages
        run: opam pin -n .

      - name: Install dependencies
        run: opam install -d . --deps-only

      - name: Build
        run: opam exec -- dune build @doc

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_build/default/_doc/_html/
          destination_dir: dev
          enable_jekyll: true
