name: Linux trunk debug

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    uses: ./.github/workflows/common.yml
    with:
      compiler: 'ocaml-variants.5.2.0+trunk'
      compiler_git_ref: refs/heads/trunk
      dune_profile: 'debug-runtime'
      runparam: 'v=0,V=1'
      timeout: 360
