name: Linux 5.0.0 debug

on:
  schedule:
    # Every Sunday morning, at 1:11 UTC
    - cron: '11 1 * * 0'
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/common.yml
    with:
      compiler_ref: refs/tags/5.0.0
      dune_profile: 'debug-runtime'
      runparam: 's=4096,V=1'
      timeout: 240
