name: Linux 5.1 debug

on:
  schedule:
    # Every Sunday morning, at 2:22 UTC
    - cron: '22 2 * * 0'
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/common.yml
    with:
      compiler_ref: refs/tags/5.1.1
      dune_profile: 'debug-runtime'
      runparam: 's=4096,V=1'
      timeout: 240
