name: musl 5.0.0

on:
  schedule:
    # Every Sunday morning, at 1:11 UTC
    - cron: '11 1 * * 0'
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/common.yml
    with:
      compiler_ref: refs/tags/5.0.0
      options: musl
      timeout: 240
      runparam: 'o=20,s=4096,v=0,V=1'
