name: MacOSX 5.0.0+trunk

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: macos-latest

    timeout-minutes: 180

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use OCaml 5.0.0+trunk
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ocaml-variants.5.0.0+trunk
          opam-repositories: |
            default: https://github.com/ocaml/opam-repository.git
            alpha: https://github.com/kit-ty-kate/opam-alpha-repository.git
          opam-depext: false

      - run: opam install . --deps-only --with-test
      - run: opam exec -- dune build
      - run: opam exec -- dune runtest -j1 --no-buffer --display=quiet
