name: macOS-intel 5.1

on:
  schedule:
    # Every Sunday morning, at 2:22 UTC
    - cron: '22 2 * * 0'
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/common.yml
    with:
      runs_on: 'macos-13'
      platform: macos
      compiler_ref: refs/tags/5.1.1
