name: MinGW bytecode trunk

on:
  schedule:
    # Every Monday morning, at 1:11 UTC
    - cron: '11 1 * * 1'
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/common.yml
    with:
      runs_on: windows-latest
      compiler: ocaml.5.3.0,ocaml-option-mingw,ocaml-option-bytecode-only
      compiler_git_ref: refs/heads/trunk
      timeout: 240
