name: OPAM installation

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-test:
    env:
      QCHECK_MSG_INTERVAL:      '60'

    strategy:
      matrix:
        ocaml-compiler:
          - 4.12.x
          - 4.13.x
          - 4.14.x
          - 5.0.0
          - 5.1.0
          - 5.2.0
          - ocaml-variants.5.3.0+trunk

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install OCaml compiler
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          opam-depext: false

      - name: Test installation of the OPAM packages
        run: |
          opam install --with-test ./qcheck-multicoretests-util.opam ./qcheck-lin.opam ./qcheck-stm.opam

      - name: Show configuration
        run: |
          opam exec -- ocamlc -config
          opam config list
          opam exec -- dune printenv
          opam list --columns=name,installed-version,repository,synopsis-or-target
